.color-picker-container {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color-picker {
    display: flex;
    justify-content: center;
    padding: 5px; /* Keep it compact */
  }
  
  .color-circle {
    width: 20px; /* Smaller circles */
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 4px; /* Space between circles */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .color-circle.selected {
    transform: scale(1.1);
    border: 2px solid white;
  }
  
  .checkmark {
    color: white;
    font-size: 12px; /* Small checkmark */
    font-weight: bold;
  }
  
  .color-circle:not(.selected):hover {
    transform: scale(1.1);
  }