  .note-input {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #202124;
    transition: all 0.3s ease;
    color: white;
    border: 1px solid white;
  }
  
  .note-input.expanded {
    max-width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .note-form .title-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #555;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: transparent;
    color: white;
  }
  
  .note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .note-input-field {
    width: 100%;
    border: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: white;
  }
  
  .note-header .note-input-field.expanded-field {
    margin-bottom: 10px;
  }
  
  .note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    color:white;
  }
  
  .close-btn {
    cursor: pointer;
    font-size: 14px;
    color: #bbb;
  }
  
  .close-btn:hover {
    color: white;
  }
  
  @media (max-width: 768px) {
    .note-input {
      padding: 8px;
    }
  
    .note-form .title-input,
    .note-header .note-input-field {
      font-size: 14px;
    }
  
    .note-input {
      width: 50vw;
      margin: 0 auto;
      padding: 10px;
      background-color: #202124;
      transition: all 0.3s ease;
      color: white;
    }
    .note-input.expanded {
      width: 60vw;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
  
    .note-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .note-footer {
      flex-direction: column;
      align-items: flex-start;
      color:white;
    }
  
    .note-header .note-input-field {
      margin-bottom: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .note-input {
      padding: 6px;
    }
  
    .note-form .title-input,
    .note-header .note-input-field {
      font-size: 12px;
    }
  
    .note-input {
      width: 50vw;
      margin: 0 auto;
      padding: 10px;
      background-color: #202124;
      transition: all 0.3s ease;
      color: white;
    }
    .note-input.expanded {
      width: 60vw;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .note-header {
      align-items: flex-start;
    }
  }