.card-container-grid {
  display:flex;
  flex-wrap:wrap;
  align-items: center;
}
.grid-view{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding:50px;
}

.card-grid {
  background-color: #333;  
  color: white;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 400px;
  align-items: center;
  /*word-wrap: break-word; */
}
.heading{
  color:white;
  align-items: center;
  padding-left:20px;
}


.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 100px;
  padding: 10px;

}

.card-container-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: flex-start; /* Align items in one row, starting from the left */
  align-items: center;
  padding-right: 10px;
}

.footer .icon-group {
  display: flex;
  align-items: center; 
  padding-right: 10px; 
}


.close-btn {
  cursor: pointer;
  padding-right:10px;
}
