.card-container-grid {
  display:flex;
  flex-wrap:wrap;
}
.grid-view{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.card-grid {
  background-color: #333;  
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 300px;
  word-wrap: break-word; 
}


.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card-container-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.close-btn {
  cursor: pointer;
}
